apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-python-basic-rhtap-devfile-multi-component-wfo5
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/multi-comp-e2e-pbmm-tenant/mc-two-scenarios/devfile-sample-python-basic-rhtap-devfile-multi-component-wfo5@sha256:66addbcea85dfcfcbb895f9344eb161943a715e139c200f2d7d22316f4a0f852
        name: my-python
        resources: {}
status: {}
